
/* body {
    transition: opacity 0.5s ease-in-out;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #3bb2b8;
    background: linear-gradient(25deg, rgba(66, 230, 149, 1), rgba(66, 32, 149, 1));
    background-repeat: no-repeat;
}*/

body {
    background: rgba(30, 29, 31, 1);
    background: -moz-linear-gradient(-45deg, rgba(30, 29, 31, 1) 0%, rgba(223, 64, 90, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30, 29, 31, 1)), color-stop(100%, rgba(223, 64, 90, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(30, 29, 31, 1) 0%, rgba(223, 64, 90, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(30, 29, 31, 1) 0%, rgba(223, 64, 90, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(30, 29, 31, 1) 0%, rgba(223, 64, 90, 1) 100%);
    background: linear-gradient(135deg, rgba(30, 29, 31, 1) 0%, rgba(223, 64, 90, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1);
}

/*calendar -sayago */ 
#calendar-container{
    display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 20px;
        border-radius: 15px;
        width: 50%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 130px;
}
