@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
@import 'material-icons/iconfont/material-icons.css';
container-ojt {
    padding-top: 20px;
    padding-bottom: 20px;
}

.background-img{
    background-image:url("https://3.bp.blogspot.com/-piZWCW2uUbg/W2fPXxkWZgI/AAAAAAAAOu0/eydmMjTIqcwLMHEEr2H7imqoRTxMw4o9QCLcBGAs/s1600/among_trees_night_dribbble.png");
    height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
}

.container-ojt h2{font-size:19px;}

.box-ojt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box-ojt:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    transition: 0.5s;
    pointer-events: none;
}

.box-ojt:hover:before {
    left: -50%;
    transform: skewX(-5deg);

}

.box-ojt .content-ojt {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #f0a591;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
}

.box-ojt span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;

}

.box-ojt span:nth-child(1) {
    transform: rotate(0deg);
}

.box-ojt span:nth-child(2) {
    transform: rotate(90deg);
}

.box-ojt span:nth-child(3) {
    transform: rotate(180deg);
}

.box-ojt span:nth-child(4) {
    transform: rotate(270deg);
}

.box-ojt span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    50% {
        transform: scaleY(1);
        transform-origin: top;
    }

    50.1% {
        transform: scaleY(1);
        transform-origin: bottom;

    }

    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

/* button */
button.neumorphic {
    border: none;
    border-radius: 2rem;
    color: hsl(0 0% 10%);
    background: none;
    display: grid;
    place-content: center;
    gap: 1rem;
    --shadow:
        -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
        .5rem .5rem 1rem hsl(0 0% 50% / .5);
    box-shadow: var(--shadow);
    outline: none;
    transition: all 0.1s;
    padding: 1.5rem 2rem;

    &:hover,
    &:focus-visible {
        color: hsl(10 80% 50%);
        transform: scale(1.1);
    }

    &:active,
    &.active {
        box-shadow:
            var(--shadow),
            inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
            inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
        color: hsl(10 80% 50%);
    }

    >img {
        width: 50px;
        height: 50px;
    }
}

.ojt-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}